server:
  port: 8888

spring:
  profiles:
    active: dev

  datasource:
    driver-class-name: ${lab.datasource.driver-class-name}
    url: jdbc:mysql://${lab.datasource.host}:${lab.datasource.port}/${lab.datasource.database}?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf-8&zeroDateTimeBehavior=convertToNull&useSSL=false&allowPublicKeyRetrieval=true
    username: ${lab.datasource.username}
    password: ${lab.datasource.password}

  redis:
    host: ${lab.redis.host}
    port: ${lab.redis.port}
    password: ${lab.redis.password}

  rabbitmq:
    host: ${lab.mq.host}
    port: ${lab.mq.port}
    virtual-host: ${lab.mq.virtualHost}
    username: ${lab.mq.username}
    password: ${lab.mq.password}

mybatis:
  #mapper配置文件
  mapper-locations: classpath:mapper/*.xml
  type-aliases-package: com.lab.entity
  configuration:
    #开启驼峰命名
    map-underscore-to-camel-case: true
    #开启输入实际执行SQL的日志
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl